body { background-color: gray; font-size: 0.75em; line-height: 1.2em; }
img { border: none; }
.wrap { text-align: left; background-color: white; }
a { text-decoration: none; }

#logo { color: darkblue; font-size: 48px; }
header .right a:hover { color: gray; }
input { color:blue;}
nav { background-color: blue; color: black; font-weight: 900; font-size: 15px;}
nav a:visited { color: black;}
nav ul li:hover { background-color: red;}
ul { list-style: none;}
.booklist { background-color : rgb(57, 79, 189); }
.booklist ul li { font-weight: 900; font-size: 12px;}
